@charset "utf-8";
/* CSS Document */

body {
	padding:0;
	margin:0;
	background: #1fadd9;
}

div {
	display:block;
}

.header, .content, .footer {
	margin:0;
	display:block;
	width:100%;
}

.header1 {
	margin:0 auto;
	width:970px;
	height:141px;
	background: rgba(0, 0, 0, 0.08);
}

.headerline {
	margin:0 auto;
	width:950px;
	height:140px;
	border-bottom:1px solid #cfcfcf;
}

.content1 {
	margin:0 auto;
	width:970px;
	background: rgba(0, 0, 0, 0.08);
}

.footer1 {
	margin:0 auto;
	width:970px;
	background: rgba(0, 0, 0, 0.08);
	text-align:center;
	font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #ccc;
}

.headerbanner {
	margin:0 auto;
	width:950px;
	height:100px;
	background: url(../images/home/banner1.png) no-repeat #2392b4;
}

.headerbanner font a {
	text-decoration:none;
	font:12px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color:#fff;
	padding-right:5px;
}

.headerbanner font a:hover {
	text-decoration:underline;
}

.headerbanner h2 {
	margin:0;
	padding:35px 0 0 92px;
	font: bold 22px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color: #b8e4f2;
}

.headerbanner img {
	margin:10px 0 0 10px;
}

.headerbanner p {
	margin:0;
	padding:0 0 0 92px;
	font:11px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color:#FFF;
}

.nav {
	margin:0 auto;
	width:950px;
	height:40px;
	background-color:#f3f3f3;
	border-bottom:1px solid #cfcfcf;
}




div#menu {
	height:41px;
	background: url(../images/home/main-bg.png) repeat-x;
}
div#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
div#menu ul.menu {
	padding-left: 30px;
}
div#menu li {
	position: relative;
	z-index: 9;
	margin: 0;
	padding: 0 5px 0 0;
	display: block;
	float: left;
}
div#menu li:hover>ul {
	left: -2px;
}
div#menu a {
	position: relative;
	z-index: 10;
	height: 41px;
	display: block;
	float: left;
	line-height: 41px;
	text-decoration: none;
	font: normal 12px Trebuchet MS;
}
div#menu a:hover, div#menu a:hover span {
	color: #fff;
}
div#menu li.current a {
}
div#menu span {
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
}
div#menu ul ul a.parent span {
	background-position:95% 8px;
	background-image: url(../images/home/item-pointer-mover.gif);
}
div#menu ul ul a.parent:hover span {
	background-image: url(../images/home/item-pointer-mover.gif);
}
/* menu::level1 */
div#menu a {
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #e5e5e5;
}
div#menu span {
	margin-top: 5px;
}/**@replace#1*/
div#menu li {
	background: url(../images/home/main-delimiter.png) 98% 4px no-repeat;
}
div#menu li.last {
	background: none;
    padding:12px 0 0 90px;
    font-size:12px;
    color:#fff;
}
/* menu::level2 */
div#menu ul ul li {
	background: none;
}
div#menu ul ul {
	position: absolute;
	top: 38px;
	left: -999em;
	width: 163px;
	padding: 5px 0 0 0;
	background: rgb(45,45,45);
	margin-top:1px;
}
div#menu ul ul a {
	padding: 0 0 0 15px;
	height: auto;
	float: none;
	display: block;
	line-height: 24px;
	color: rgb(169,169,169);
}
div#menu ul ul span {
	margin-top: 0;
	padding-right: 15px;
	_padding-right: 20px;
	color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
	color: #fff;
}
div#menu ul ul li.last {
	background: none;
}
div#menu ul ul li {
	width: 100%;
}
/* menu::level3 */
div#menu ul ul ul {
	padding: 0;
	margin: -38px 0 0 163px !important;
	margin-left:172px;
}
/* colors */
div#menu ul ul ul {
	background: rgb(41,41,41);
}
div#menu ul ul ul ul {
	background: rgb(38,38,38);
}
div#menu ul ul ul ul {
	background: rgb(35,35,35);
}
/* lava lamp */
div#menu li.back {
	background: url(../images/home/lava.png) no-repeat right -44px !important;
	background-image: url(../images/home/lava.gif);
	width: 13px;
	height: 44px;
	z-index: 8;
	position: absolute;
	margin: -1px 0 0 -5px;
}
div#menu li.back .left {
	background: url(../images/home/lava.png) no-repeat top left !important;
	background-image: url(../images/home/lava.gif);
	height: 44px;
	margin-right: 8px;
}

















.content2 {
	margin:0 auto;
	width:950px;
	background-color:#e5e5e5;
}

#post {
	width:100%;
	padding:0 0 20px 0;
}

#post1 {
	width:665px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:10px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
}

#post10 {
	width:665px;
	height:284px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:10px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
}

#post10 h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:625px;
	margin:0 auto;
}


#post01 {
	width:930px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:10px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
}

#post1 h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:620px;
	margin:0 auto;
}

#post01 h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:910px;
	margin:0 auto;
}

#postright {
	width:255px;
	height:304px;
	background-color:#FFF;
	display:block;
	float:right;
	margin:10px 10px 0 0;
	border-radius:5px;
}

#postright_group {
	width:255px;
	height:304px;
	background-color:#FFF;
	display:block;
	float:right;
	margin:10px 10px 0 0;
	border-radius:5px;
}

#postright h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:240px;
	margin:0 auto;
}

#postright p {
	margin:0;
	padding:10px;
	font:12px, "Lucida Grande", Tahoma, Verdana, sans-serif;
	width:240px;
	margin:0 auto;
}

#postright table#responds {
	width:400px;
	margin:0 auto;
    line-height: 16px;

}

#postright table#responds tr#search_blue {
	background-color: #ACE6FB;
    font-size:12pt;
}

#postright table#responds tr#search_notblue {
    background-color: #2CC1F7;
    font-size:12pt;
}

#postright .scroll {
	overflow:scroll;
	width:240px;
	height:264px;
	margin:10px auto;
	padding:10px 0 10px 0;
}

#footer2 {
	margin:0 auto;
	width:950px;
}

#footer2 p {
	margin:0;
	padding:10px 0 5px 0;
	text-align:center;
	font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  	color: #fff;
}

#footer2 a {
	text-decoration:none;
	color:#ccc;
}

#footer2 a:hover {
	text-decoration:underline;
	color:#fff;
}



#tfnewsearch{
		float:right;
		padding:7px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	
	
	.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        padding:0;
        border: 5px solid #0ca3d2;
        background-color: white;
        z-index:1002;
        overflow: auto;
		border-radius:10px;
    }
	
	.white_content table {
		margin:0 auto;
		padding-bottom:20px;
	}
	
	.white_content img{
		float:right;
	}
	.white_content table{
		margin:30px auto;
		float:left;
		padding:0 0 0 50px;
	}
	
	.white_content input[type=button] {
  		width:100px;
   		border-radius:5px;
   		background-color:#E3E1FF;
	}
	
	.white_content input[type=button]:hover {
  		background-color:#1fadd9;
   		color:#fff;
	}

	.textinput input[type=text] {
    width: 365px;
	border-radius:5px;
	}

    .textinput1 input[type=text] {
    width: 265px;
	border-radius:5px;
	}

    .textinput1 input[type=password] {
    width: 265px;
	border-radius:5px;
	}
	
	input[type=button] {
	border-radius:5px;
	}

	input[type=file] {
	border-radius:5px;
	}

select, option { width:130px;
					border-radius:5px; }

.select01 select, option { width:268px;
					border-radius:5px; }





.table1 {
	margin:0 auto;
}

.table1 table{
		margin:0px auto;
		padding:20px 0 0 0;
	}
	
.table1 .input {
	text-align:center;
	padding:40px 0 0 220px;

}


.table1 .input input[type=button] {
    width: 80px;
	background-color:#E3E1FF;
}

.table1 .input input[type=button]:hover {
	background-color:#1fadd9;
	color:#fff;
}

.table1 .input input[type=submit] {
    width: 80px;
	border-radius:5px;
	background-color:#E3E1FF;
}

.table1 .input input[type=submit]:hover {
	background-color:#1fadd9;
	color:#fff;
}

.table1 .input1 {
	text-align:center;
	padding:40px 0 0 90px;

}


.table1 .input1 input[type=button] {
    width: 80px;
	background-color:#E3E1FF;
}

.table1 .input1 input[type=button]:hover {
	background-color:#1fadd9;
	color:#fff;
}

.table1 .input1 input[type=submit] {
    width: 80px;
	border-radius:5px;
	background-color:#E3E1FF;
}

.table1 .input1 input[type=submit]:hover {
    background-color:#1fadd9;
	color:#fff;
}


.imagestext{
    width:136px;
    height:137px;
    position:relative;
	margin:20px 0 0 40px;
	float:left;
}

.imagestext img {
	border-radius:10px;
}

.lower{
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    padding:10px 0;
	text-align:center;
    background:rgba(0,0,0,.5);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.lower a{
	text-decoration:none;
	color:#fff;
}

.lower a:hover{
	text-decoration:none;
	color:#ccc;
}





td {
    padding:0 0 0 10px;

    }



ul #responds{
	margin:0px;
	padding: 0px;
	list-style: none;
}
#responds li {
	list-style: none;
	padding: 10px;
	background: rgb(221, 240, 255);
	margin-bottom: 5px;
	border-radius: 5px;
	max-width: 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
    margin:5px auto;
}
#responds li.sel {
	background: rgb(255, 221, 221);
}

.del_wrapper{float:right;}
.content_wrapper {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}