@charset "utf-8";
/* CSS Document */

.y6 {
	overflow:hidden;
	white-space: nowrap;
	width:410px;
}

body {
	padding:0;
	margin:0;
	background:#e9eaed;
}

div {
	display:block;
}


.header, .content, .footer {
	margin:0;
	display:block;
	width:100%;
}

.header1 {
	margin:0 auto;
	width:1300px;
	height:115px;
	/*background: rgba(0, 0, 0, 0.08);*/
	
}

#headerlinebg {
  margin:0 auto;
  width: 1240px;
  height: 115px;
  /*background-color:#e5e5e5;*/
}

.headerline {
	margin:0 auto;
	width:1240px;
	height:100px;
	background: #2392b4;
	display:block;
    box-shadow: 0 20px 16px -16px white;
}

table {
    border-color: #fff;
    display: table;
}

.content1 {
    /*margin:0 auto;
    padding-top:115px;*/
    /*width:1300px;*/
    /*background: rgba(0, 0, 0, 0.08);*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:510px;
}

.footer1 {
	margin:0 auto;
	width:1300px;
	background: rgba(0, 0, 0, 0.08);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-align:center;
	font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #ccc;
}

.footerbg {
background: #3A3A3A;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index:3;
}

.headerbanner {
	width:500px;
	height:100px;
        float: left;
}

.headerbanner a {
	list-style:none;
	text-decoration:none;
}

.headerbanner font a {
	text-decoration:none;
	font:12px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color:#fff;
	padding-right:5px;
}

.headerbanner font a:hover {
	text-decoration:underline;
}

.headerbanner h2 {
	margin:0;
	padding:50px 0 0 150px;
	font: bold 22px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color: #b8e4f2;
}

.headerbanner img {
	margin:11px 0 0 15px;
    position: fixed;
    z-index:1;
}

.headerbanner p {
	margin:0;
	padding:0 0 0 150px;
	font:11px "Lucida Grande", Tahoma, Verdana, sans-serif;
	color:#FFF;
}

#logo {
  /*margin-right:10px;*/
}

#logo img{
  float:right;
  /*margin: 55px 5px 0 0;*/
  margin-top:2px;
}

.groupnav {
	width:15%;
	float:left;
        margin-top:10px;
}

.grouptable {
	width:85%;
	float:right;
}

.grouptable #table {
	margin:10px 0 0 0;
}

.grouptable #table table {
	margin:auto;
}

#table input[type=text] {
	/*width:700px;
	padding:5px 5px;*/
	background-color:#BAD8FF;
	border-radius:5px;
}

#table input[type=submit] {
	border-radius:5px;
        width: 100px;
		/*background-color:#E3E1FF;*/
	}
	
#table input[type=submit]:hover {
	background-color:#1fadd9;
	color:#fff;
	}

#table input[type=password] {
	width:300px;
	padding:5px 5px;
}

#table select {
	width:312px;
	border-radius:8px;
	padding:5px 5px;
}

#tableId {
    font-size: 5px;
}
.text {
	font-size:14px;
}

.grouptable1 {
	width:85%;
	float:right;
}

.grouptable1 #table1 {
	margin:10px 0 0 0;
}

.grouptable1 #table1 table {
	margin:auto;
}

#table1 input[type=text] {
	width:300px;
	padding:5px 5px;
}

#table1 input[type=submit] {
	border-radius:5px;
        width: 100px;
		/*background-color:#E3E1FF;*/
	}
	
#table1 input[type=submit]:hover {
	background-color:#1fadd9;
	color:#fff;
	}

#table1 input[type=password] {
	width:300px;
	padding:5px 5px;
}

#table1 select {
	witedth:312px;
	border-radius:8px;
	padding:5px 5px;
}

div.retriveDataAllign {
    margin-left:10px;
}

div.actionButton {
    float:right;
    margin-right: 15px;
}

#officelist {
    padding-left:15px;
}

#checkinRIGHT {
    /*padding-right:15px;*/
    float:right;
}


/**############################################ inboxtable #############################################**/
.inbox {
	width:85%;
	float:right;
}

#inboxtable {
	/*margin:10px 10px 0 0;
	overflow:scroll;
	height:450px;*/
}

#inboxtable a {
    color:#2587C1 ;
}

#inboxtable table {
	width:100%;
}

#inboxtable tr.bg1 {
	background-color:#5B5C5C;
	color: #ccc;
	font-weight:bold;
}

#inboxtable th {
	border-bottom:1px solid #ccc;
	margin:4px 0 0 0;
	width:25px;
	height:25px;
	font-family:tahoma;
	font-size:11px;
}

#inboxtable tr.bg {
	background-color:#cecece;
	color:#2E2E2E;
        cursor:pointer;
}

#inboxtable tr.bgLINE {
	background-color:#BFBFBF;
	color:#2E2E2E;
        cursor:pointer;
}

#inboxtable tr.bg:hover {
	background-color:#CECECE;
	color: #2E2E2E;
	opacity:0.6;
}

#inboxtable tr.bg01 {
	
        background-color:#E6E6E6;
	color:#2E2E2E;
        cursor:pointer;
}

#inboxtable tr.bg01:hover {
	
        background-color:#E6E6E6;
	color:#2E2E2E;
	opacity:0.8;
}

.fix {
	width:100%;
	border-spacing:0;
	padding:0;
}

#inboxtable td {
/*	border-bottom:1px solid #fff;*/
	margin:4px 0 0 0;
	height:25px;
}

#inboxtable input[type=checkbox] {
	margin:4px 0 0 0;
	width:15px;
	height:15px;
}

#inboxtable td.small {
	width:30px;
}

#inboxtable td.reply {
	width:20px;
}

#inboxtable td.comment {
	width:100px;
}
/**############################################ end inboxtable #############################################**/

#input {
	margin:15px 0 0 385px;
}

#nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav a {
	height: 41px;
	line-height: 41px;
	text-decoration: none;
	font: normal 12px Trebuchet MS;
}
#nav a:hover {
	color: #fff;
	/*background-color:#006883;*/
	background:rgb(0, 112, 141);
}



#nav span {
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
}
#nav ol a.parent span {
	background-position:95% 8px;
}

/* menu::level1 */
#nav a {
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #e5e5e5;
}
#nav span {
	margin-top: 5px;
}/**@replace#1*/





#nav ol {
	/*width: 160px;
	padding: 5px 0 5px 0;*/
	background-color:#E6E6E6;
/*	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;*/
}

#nav ol a {
	padding: 0 0 0 0;
	height: auto;
	line-height: 24px;
	color: rgb(169,169,169);
}
#nav ol span {
	margin-top: 0;
	padding-right: 15px;
	padding-left:15px;
	color:#2E2E2E;
}
#nav ol a:hover span {
	background-color:#ccc;
	color: #666;
}

/********************** test nav ****************/

/*#nav {
	width:160px;
	margin:0px 0 0 20px;
}*/

#nav h4 {
	margin:0;
	height:25px;
	/*width:160px;*/
	background-color:#5B5C5C;
	color:#ccc;
	font-family:trebuchet ms;
	font-size:15px;
	padding:5px 0 0 10px;
	border-bottom:1px solid #ccc;
/*	border-top-left-radius:8px;
	border-top-right-radius:8px;*/
}
/*
#nav ol {
	margin:0;
	padding:10px 0 10px 0;
	list-style:none;
	width:160px;
	background-color:#0086a8;
}

#nav a {
	font-family:trebuchet ms;
	font-size:12px;
	text-decoration:none;
	padding-left:10px;
	color:#fff;
}

#nav ol a:hover span {
	background-color:#3D93AD;
	width:160px;
}*/

.menubg {
	background:#515151;
	width:100%;
	position:fixed;
	top:0;
	z-index:1;
    opacity:.8;
	
}

.menugroup {
	height:41px;
	width: 1260px;
	margin:auto;
        
}

.menugroup ul.nav {
    margin-left:135px;
}

div#menu {
	height:41px;
	float:left;
}
div#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
div#menu ul.menu {
	padding-left: 30px;
}
div#menu li {
	position: relative;
	z-index: 9;
	margin: 0;
	padding: 0 5px 0 0;
	display: block;
	float: left;
}
div#menu li:hover>ul {
	left: -2px;
}
div#menu a {
	position: relative;
	z-index: 10;
	height: 41px;
	display: block;
	float: left;
	line-height: 41px;
	text-decoration: none;
	font: normal 12px Trebuchet MS;
}
div#menu a:hover {
	color: #fff;
	/*background-color:#006883;*/
	background:rgb(0, 112, 141);
}


div#menu li.current a {
}
div#menu span {
	display: block;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 95% 0;
}
div#menu ul ul a.parent span {
	background-position:95% 8px;
	background-image: url(../images/home/item-pointer-mover.gif);
}
div#menu ul ul a.parent:hover span {
	background-image: url(../images/home/item-pointer-mover.gif);
}
/* menu::level1 */
div#menu a {
	padding: 0 10px 0 10px;
	line-height: 30px;
	color: #e5e5e5;
}
div#menu span {
	margin-top: 5px;
}/**@replace#1*/
div#menu li {
	background: url(../images/home/main-delimiter.png) 98% 4px no-repeat;
}
div#menu li.last1 {
	background: none;
    padding:12px 0 0 155px;
    font-size:12px;
	font:normal 12px Trebuchet MS;
    color:#fff;
}

div#menu li.last {
	background: none;
    padding:12px 0 0 90px;
    font-size:12px;
    color:#fff;
}
/* menu::level2 */
div#menu ul ul li {
	background: none;
}
div#menu ul ul {
	position: absolute;
	top: 38px;
	left: -999em;
	width: 163px;
	padding: 5px 0 0 0;
	background:rgb(0, 112, 141);
	margin-top:1px;
}

div#menu ul ul a {
	padding: 0 0 0 0;
	height: auto;
	float: none;
	display: block;
	line-height: 24px;
	color: rgb(169,169,169);
}
div#menu ul ul span {
	margin-top: 0;
	padding-right: 15px;
	padding-left:15px;
	color: rgb(219, 219, 219);
}
div#menu ul ul a:hover span {
	color: #fff;
    background-color: #3D93AD;
}
div#menu ul ul li.last {
	background: none;
}
div#menu ul ul li {
	width: 100%;
}
/* menu::level3 */
div#menu ul ul ul {
	padding: 0;
	margin: -38px 0 0 163px !important;
	margin-left:172px;
}
/* colors */
div#menu ul ul ul {
	background: rgb(0, 112, 141);
}
div#menu ul ul ul ul {
	background: rgb(38,38,38);
}
div#menu ul ul ul ul {
	background: rgb(35,35,35);
}
/* lava lamp */
div#menu li.back {
	background: url(../images/home/lava.png) no-repeat right -44px !important;
	background-image: url(../images/home/lava.gif);
	width: 13px;
	height: 44px;
	z-index: 8;
	position: absolute;
	margin: -1px 0 0 -5px;
}
div#menu li.back .left {
	background: url(../images/home/lava.png) no-repeat top left !important;
	background-image: url(../images/home/lava.gif);
	height: 44px;
	margin-right: 8px;
}

/*
.navbar-collapse.collapse {
    float:right;
}

.navbar-nav > li > a {
    /*border-radius: 5px;*/
}
*/
/************############# header new style #########******************/

.navbar-nav1 {
    float: left;
    margin: 0;
  }
  
.nav1 {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
	
.nav1 > li > a {
	padding:0;
}

.navbar-nav1>li> a:hover, a:focus {
	background-color:rgb(5, 63, 80);
}

.nav1 .open>a, .nav1 .open>a:focus, .nav1 .open>a:hover {
	background-color:rgb(5, 63, 80);
	color:#fff;
}

.nav1>li>a:focus, .nav1>li>a:hover {
	background-color:rgb(5, 63, 80);
}
	
	header {
	width:100%;
	position:fixed;
	z-index:1002;
}

#header {
	width:100%;
	background-color:#2392b4;
	padding:10px 10px;
}

.mailNoti {
	width:100%;
	background-color:#00556F;
	padding:4px 4px;
}

.col-xs-4_1 {
	width:100%;
	margin-right: -15px;
    margin-left: -15px;
}

/*.menuMail {
	float:right;
}*/

.col-md-4 .Admin p {
	padding-left: 65px;
    padding-top: 4px;
}

.Admin p a {
	color:#C4EDF9;
}

.tclear {
	clear:both;
}

.menuMail a {
	color:#50C5E8;
}

.menuMail .glyphicon {
	margin-right:6px;
	top: 3.2px;
}

.badge {
	background-color:rgb(5, 63, 80);
	color:#960E0E;
}

.header {
	margin:0 auto;
	max-width:1170px;
}

.col-md-4 h3 {
	margin:0;
	color:#b8e4f2;
	font-weight:bold;
	padding-top:14px;
	font-size:20px;
	padding-left:100px;
}

.col-md-4 p {
	margin:0;
	color:#fff;
	font-size:11px;
	padding-left:102px;
}

.navbarA a {
	color:#fff;
}

.navbarA a:hover , a:focus {
	color:#000;
}

.caret {
	margin-left:7px;
}

.image img {
	position:fixed;
	z-index:1;
}


.navbar-inverse1 .navbar-toggle {
	border-color:none;
}

.navbar-toggle .icon-bar {
	background-color:#333;
}

.navbar-toggle .icon-bar+.icon-bar {
	background-color:#333;
}

.navbar-inverse1{
	background-color:rgb(30, 141, 175);	
	border-radius:2px;
	max-width: 717px;
}

.navbar-inverse1 a {
	color:#fff;
}

.navbar-nav>li> a:hover, a:focus {
	background-color:rgb(5, 63, 80);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color:rgb(5, 63, 80);
	color:#fff;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color:rgb(5, 63, 80);
}

.navbar-nav > li > a {
	line-height:20px;
}

/*.dropdown-menu {
	background-color:rgb(11, 116, 148);
	z-index:1001;
}

.dropdown-menu>li>a {
	color:#fff;
}*/

.dropdown-menu .divider {
	background-color:#2BA4CA;
}

.marginBottom-0 {margin-bottom:0; float:right;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/*.text {
	background-color:#ccc;
	margin-top:126px;
}*/

.text p {
	
}
/************############# end header new style #########******************/

/*************************************** conetent **********************/


.main {
	padding:10px 10px;
}

.postTable {
	background-color:#fff;
	border-radius:5px;
	margin-top:115px;
	margin-left:15px;
	margin-right:15px;
}

#poster {
	background-color:#fff;
	border-radius:5px;
	margin-top:115px;
	margin-left:15px;
	margin-right:15px;
}

#poster h2 {
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

#post {
	margin-top:115px;
	margin-left:15px;
	margin-right:15px;
}

#scrollHome {
	overflow: scroll;
    max-width: 1110px;
    height: 450px;
  }
  
/*.table {
	    width: 1450px;
}*/

.table th {
	background-color: #5B5C5C;
    color: #ccc;
  }
  
 .fixed-table-container thead th .th-inner {
 	line-height:8px;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 1px 0; }
.tab-content{/*padding:20px*/}

.card {
	background: #FFF none repeat scroll 0% 0%;
	/*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);*/ margin-bottom: 30px; 
	margin-left:10px;
	margin-right:10px;
}
/*************************************** end conetent **********************/
.logout {
    text-align: right;
}



/*.admin {
    font-size:12px;
    font:normal 12px Trebuchet MS;
    color:#fff;
    padding:1px 20px 0 0;
    float:right;
}

.admin p {
    margin:0;
    
    padding-top:0;
    padding-left:0;
    margin-top:-3px;
}

.admin .badge {
    margin-left:30px;
    font-weight: lighter;
}

#mailNotify {
    float:left;
    margin-top:5px;
    margin-right:8px;
}*/

 .admin {
font-size:12px;
font:normal 12px Trebuchet MS;
    color:#fff;
padding:1px 20px 0 0;
float:right;
    /*width:270px;   */
}

.admin p {
    margin:0;
    padding-top:0px;
    padding-left:0;
    margin-top:-3px;
}

.admin .badge {
    margin-left:0px;
    font-weight: lighter;
    margin-right: 5px;
    font-size:10px;
    padding:3px 3px;
}

#mailNotify {
  /*float:left;*/
  margin-top: 0px;
}

 #testAdmin {
   float:right;
   padding-top:10px;
 }


/*.content2 {
	margin:0 auto;
	width:1260px;
        height:500px;
	/*background-color:#e5e5e5;*/
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}*/

/*#post {
	width:100%;
	padding:0 0 10px 0;
}*/

#post1 {
	width:665px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:10px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
}

#post10 {
	width:870px;
	height:530px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:0px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
}

#post100 {
	background-color:#FFF;
	border-radius:3px;
	padding-bottom:20px;
	min-height:500px;
	border-right:5px solid #E9EAED;
}

.colsize {
	padding-right: 15px;
  padding-left: 15px;
}

.myForm
{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#post100 h2 {
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

#post11 {
	width:406px;
	height:402px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:10px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
}

#post11 p {
    font-size: 12px;
    margin: 0;
    font-family: tahoma;
    padding: 10px 0 0 10px;
}

#post11 .scroll {
	overflow:scroll;
	width:385px;
	height:365px;
	margin:0px auto;
	padding:10px 0 10px 0;
        
        
}

#post11 .scroll table {
    border-spacing: 1px;
}

#post11 .scroll table td {
    font-size: 9px;
    
    
}

#post11 tr.hoverhigh {
    background-color: #ffbaba;
    
   
}

#post11 tr.hoverhigh:hover {
    background-color: white;
    cursor:pointer;
    
}

#post11 tr.hovermed {
    background-color: #bad4ff;
   
}

#post11 tr.hovermed:hover {
    background-color: white;
    cursor:pointer;
}
#post11 tr.hoverlow {
    background-color: #baffc2;
   
}

#post11 tr.hoverlow:hover {
    background-color: white;
    cursor:pointer;
}



#post11 tr.usercolortest {
	background-color: #5B5C5C;
	color:#ccc;
    font-family: Tahoma;
    font-size: 10px;
}

#post12 {
	float:right;
}

#post12 #grpclr {
    float: left;
    margin: 10px 20px 0 0px;
}

img#highclr {
    height: 18px;
    width: 40px;
    background: #ffbaba;
}

img#medclr {
    height: 18px;
    width: 40px;
    background: #bad4ff;
}

img#lowclr {
    height: 18px;
    width: 40px;
    background: #baffc2;
}

#grpclr p{
    margin: 0;
    padding: 3px 0 0 50px;
    font-family: tahoma;
    font-size: 10px;
}

#post12 span {
    padding-left: 10px;
}

#post12 h2, p {
    margin: 0;
    padding: 5px 0 0 15px;
}

#post10 h2 {
	margin:0;
	padding:15px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:835px;
	margin:0 auto;
}


#post01 {
	width:1240px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:0px 0 0 10px;
	border-radius:5px;
	padding-bottom:20px;
/*	height:530px;*/
}

#post {
	margin-top:115px;
	margin-left:15px;
	margin-right:15px;
}

#postABOUT {
	background-color:#FFF;
	border-radius:5px;
	padding-bottom:20px;
	height:500px;
}

#postABOUT h2 {
	margin:0;
	padding:15px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	margin:0 auto;
}

#postHOME {
	width:1240px;
	background-color:#FFF;
	display:block;
	float:left;
	margin:0px 0 0 10px;
	border-radius:5px;
	padding-bottom:10px;
/*	height:530px;*/
}

#pic {
	padding-bottom:20px;
	overflow:hidden;
  margin:50px auto;
}

#pic img{
	margin:20px 0 0 200px;
	/*box-shadow:0px 8px 7px #ccc;*/
	border-radius:190px;
	border:2px solid #fff;
}

#pic h1 {
    margin: 0;
    padding: 98px 0 0 470px;
    font-family: sans-serif;
    font-weight: bolder;
    color:#2392b4;
    font-size: 50px;
    text-shadow: 4px 4px 4px #CDCACA;
}

#pic p {
    margin: 0;
    margin-left: 472px;
    padding:0;
    font-size: 20px;
    font-family: Copperplate Gothic Bold;
    font-weight: bolder;
    text-transform:uppercase;
    color:#7D7C7C;
}

#pic img.test {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#title p {
	margin:0;
	padding:0 0 0 8px;
	font-family:trebuchet ms;
	font-size:12px;
	text-align:center;
}

#title a {
    color: #000;
}

.form-inline .input-group > .form-control {
    width: 278px;
    height: 24px;
    /*padding: 10px 10px;*/
    margin-left: 5px;
	z-index:0;
}

table.fixedheader th{
    padding: 5px 12px;
    font-size: 10px;
}
table.fixedwidth th{ 
    table-layout:fixed; 
    
}
#display table.fixedwidth td {
    font-size: 10px;
}


#display ul {
    position: absolute;
    list-style: none;
    background: rgb(218, 218, 221);
    margin-left:15px;
    padding: 0;
    width: 331px;
    overflow:scroll;
    height:445px;
}

#display li {
    position: relative;
    background: rgb(231, 231, 231);
    padding: 5px 5px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    
}

#display  li:hover {
    background: #BCBCBC;
}

#checkbox {
    float:right;
    /*padding-top: 10px;*/
}

.radio, .checkbox {
	margin-bottom:0;
}

.checkbox label {
    font-size: 10px;
    margin: 0;
    /*width:160px;*/
}

.checkbox label p {
  padding:0;
  /*padding-top:2px;*/
}

.checkbox input[type=checkbox] {
    width: 13px;
    height: 13px;
    float:left;
}

#scroll {
    overflow: scroll;
    /*max-width: 730px;*/
    height: 280px;
    margin: 10px auto;
}

#scroll table {
    width: 1200px;
}

/*INSERTED */
#checkinScroll {
    overflow: scroll;
    max-width: 730px;
    height: 280px;
    margin: 10px auto;
}

#checkinScroll table {
  width: 100%;
}

#monitorScroll {
    overflow: scroll;
    width: 840px;
    height: 410px;
    margin: 10px auto;
}

#monitorScroll table {
    width:100%;
}
 /*INSERTED */

#details table a {
    color:#2587C1;
}

.input-group {
	margin-top:10px;
}

/*.input-group button.btn {
    padding:1px 7px;
}*/

#headform {
	/*width:1205px;
	margin:0 auto;*/
	padding-top:10px;
}

#headtable {
	float:left;
	margin:10px 0 0 0px;
}

#headtable button {
	width:80px;
	border:1px solid #ccc;
	border-radius:5px;
}

#headtable button:hover {
	background-color:#1fadd9;
}

#headtable input[type="date"] {
    line-height: 25px;
}

#headsearch{
		float:right;
		margin:13px 0px 0 0;
	}
	
#codetable {
	/*width:1205px;*/
	margin:0px auto;
}

#codetable .scroll {
    overflow: scroll;
    /*width: 1205px;*/
    height: 350px;
    margin: 10px auto;
}

.scrollHOME {
    overflow: scroll;
    max-width: 1108px;
    height: 380px;
    margin: 0px auto;
	margin-bottom:10px;
}

.SHOWinput {
	margin-bottom:20px;
}

#codetable table {
	width:100%;
	border-spacing:1px;
}

#codetable table#HOMEdata {
	width:1450px;
	border-spacing:1px;
}

#codetable th {
	background-color:#5B5C5C;
	color: #ccc;
	font-family: Tahoma;
    font-size: 10px;
	padding:5px 5px;
}

.SHOWinput p {
  text-align: right;
  font-size:10px;
  font-family: Tahoma, Geneva, sans-serif;
}

#post1 h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:620px;
	margin:0 auto;
}

#post01 h2 {
	margin:0;
	padding:15px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:1205px;
	margin:0 auto;
}

#postright {
	width:355px;
	height:530px;
	background-color:#FFF;
	display:block;
	float:right;
	margin:0px 10px 0 0;
	border-radius:5px;
}

#postright_group {
	width:255px;
	height:304px;
	background-color:#FFF;
	display:block;
	float:right;
	margin:10px 10px 0 0;
	border-radius:5px;
}

#postright h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:340px;
	margin:0 auto;
}

.postright {
	margin-top:6px;
}

#postright p {
	margin:0;
	font:12px "Lucida Grande", Tahoma, Verdana, sans-serif;
	
}

#postright table#respondsth {
	width:450px;
	margin:0 auto;
    line-height: 16px;
	border-spacing:1px;

}

#postright table#responds {
	width:580px;
	margin:0 auto;
    line-height: 14px;
	border-spacing:1px;

}

.postright table#responds {
	width:580px;
	margin:0 auto;
    line-height: 14px;
	border-spacing:1px;

}

#postright tr.bgcolor {
	background-color: #BCBCBC;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
	color:#000;
}

#postright th.bgcolor1 {
	background-color: #BCBCBC;
	width:450px;
    font-family: Tahoma;
    font-size: 10px;
	color:#000;
}

#postright table#responds1 {
	margin:0 auto;
    line-height: 16px;
	border-spacing:1px;

}

#postright tr.usercolortest {
	background-color: #5B5C5C;
	color:#ccc;
    font-family: Tahoma;
    font-size: 10px;
}

.postright tr.usercolortest {
	background-color: #5B5C5C;
	color:#ccc;
    font-family: Tahoma;
    font-size: 10px;
}

th.sizeBARCODE {
    width:125px;
}

th.sizeTITLE {
    width:250px;
}

th.sizeBARCODE2 {
    width:120px;
}

th.sizeTITLE2 {
    width:200px;
}

th.sizeOWNER2 {
    width:130px;
}

th.sizeDETAIL {
    width:200px;
}

th.sizeCOST {
    width:130px;
}

th.sizeTEMPLATE {
    width: 150px;
}

th.sizeDOCNAME {
    width: 150px;
}

th.sizeOFFICE {
    width: 150px;
}

th.sizeUSERname {
    width: 150px;
}

th.sizeGROUP {
    width:150px;
}

#postright tr.usercolor1 {
	background-color:#3AC7EB;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
}

#postright tr.usercolor1:hover {
	background-color:#008eb2;
	width:80px;
	color:#fff;
  
}

/*#postright th.bgcolor2 {
	background-color: #BCBCBC;
	width:150px;
    font-family: Tahoma;
    font-size: 10px;
	color:#000;
}

#postright th.bgcolor3 {
	background-color: #BCBCBC;
	width:99px;
    font-family: Tahoma;
    font-size: 10px;
	color:#000;
}

#postright th.bgcolor4 {
	background-color: #BCBCBC;
	width:117px;
    font-family: Tahoma;
    font-size: 10px;
	color:#000;
}*/

/*#postright table#respondsth {
	width:450px;
	margin:0 auto;
    line-height: 16px;
	border-spacing:1px;

}*/
#postright tr.usercolor {
	background-color:#CECECE;
	color:#2E2E2E;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
    cursor: pointer;
}

.postright tr.usercolor {
	background-color:#CECECE;
	color:#2E2E2E;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
    cursor: pointer;
}

#postright tr.usercolor:hover {
	background-color:#CECECE;
	width:80px;
	color:#2E2E2E;
	opacity:0.8;
}

.postright tr.usercolor:hover {
	background-color:#CECECE;
	width:80px;
	color:#2E2E2E;
	opacity:0.8;
}

#postright tr.usercolor1 {
	background-color:#E6E6E6;
	color:#2E2E2E;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
    cursor: pointer;
}

.postright tr.usercolor1 {
	background-color:#E6E6E6;
	color:#2E2E2E;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
    cursor: pointer;
}

#postright tr.usercolor1:hover {
	background-color:#E6E6E6;
	width:80px;
	color:#2E2E2E;
	opacity:0.6;
  
}

.postright tr.usercolor1:hover {
	background-color:#E6E6E6;
	width:80px;
	color:#2E2E2E;
	opacity:0.6;
  
}

#postright td a {
	text-decoration:none;
	color:#000;
}

#postright td a:hover {
	color:#fff;
}

#postright .scroll {
	overflow:scroll;
	width:340px;
	height:470px;
	margin:10px auto;
}

.postright .scroll {
	overflow:scroll;
	height:435px;
	margin:10px auto;
}


.scrollROLLBACK {
	overflow:scroll;
	/*width:340px;*/
	height:415px;
	margin-bottom:10px;
	/*margin:10px auto;*/
}

#postright01 {
	width:255px;
	height:411px;
	background-color:#FFF;
	display:block;
	float:right;
	margin:10px 10px 0 0;
	border-radius:5px;
}

#postright0 {
	background-color: #FFF;
  border-radius: 3px;
  /*padding-bottom: 20px;*/
  min-height: 500px;
}

#postrightAudit {
	background-color: #FFF;
  border-radius: 3px;
  padding-bottom: 10px;
  /*min-height: 500px;*/
  float:right;
}

#postright01 table#responds {
	width:450px;
	margin:0 auto;
    line-height: 16px;
	border-spacing:1px;

}

#postright01 table#respondsth {
	width:450px;
	margin:0 auto;
    line-height: 16px;
	border-spacing:1px;

}

#postright01 tr.bgcolor {
	background-color: #5B5C5C;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
	color:#ccc;
}

#postright01 th.bgcolor1 {
	background-color: #5B5C5C;
	width:86px;
    font-family: Tahoma;
    font-size: 10px;
	color:#ccc;
}

#postright01_group {
	width:255px;
	height:419px;
	background-color:#FFF;
	display:block;
	float:right;
	margin:10px 10px 0 0;
	border-radius:5px;
}

#postright01 h2 {
	margin:0;
	padding:10px 0 5px 5px;
	font:18px "Lucida Grande", Tahoma, Verdana, sans-serif;
	border-bottom:1px solid #ccc;
	width:240px;
	margin:0 auto;
}

#postright01 p {
	margin:0;
	padding:10px;
	font:12px, "Lucida Grande", Tahoma, Verdana, sans-serif;
	width:240px;
	margin:0 auto;
}

#postright01 table#responds {
	margin:0 auto;
    line-height: 16px;
	border-spacing:1px;

}

#postright01 tr.bgcolor {
	background-color: #5B5C5C;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
	color:#ccc;
}

#postright01 tr.usercolor {
	background-color:#CECECE;
	color:#2E2E2E;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
}

#postright01 tr.usercolor:hover {
	background-color:#CECECE;
	width:80px;
	color:#2E2E2E;
	opacity:0.8;
}

#postright01 tr.usercolor1 {
	background-color:#E6E6E6;
	color:#2E2E2E;
	width:80px;
    font-family: Tahoma;
    font-size: 10px;
}

#postright01 tr.usercolor1:hover {
	background-color:#E6E6E6;
	width:80px;
	color:#2E2E2E;
	opacity:0.6;
  
}

#postright01 td a {
	text-decoration:none;
	color:#000;
}

#postright01 td a:hover {
	color:#fff;
}

#postright01 .scroll {
	overflow:scroll;
	width:240px;
	height:340px;
	margin:10px auto;
	padding:10px 0 10px 0;
}

.footer_1 {
	padding:4px 4px;
}

.footer_1 p {
	margin:0;
	padding:5px 0 5px 0;
	font: 10px/14px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #fff;
}

.footer_1 p a:hover {
	color:#50C5E8;
}

#footer2 {
	margin:0 auto;
	width:950px;
}

#footer2 p {
	margin:0;
	padding:5px 0 5px 0;
	text-align:center;
	font: 10px/14px "Lucida Grande", Tahoma, Verdana, sans-serif;
  	color: #fff;
}

#footer2 a {
	text-decoration:none;
	color:#ccc;
}

#footer2 a:hover {
	text-decoration:underline;
	color:#fff;
}

#footer2 img {
	vertical-align:middle;
	}

#tfheader {
	padding:35px 0 0px 0;

	
}

#tfheader h2 {
	padding:0;
	margin:7px auto;
}

#tfnewsearch {
	margin-bottom:8px;
}

/*#tfnewsearch{
		float:right;
		padding:0 7px 0 0;
		margin-top:-23px;
	}*/
	.tftextinput{
		margin: 0;
		padding: 3px 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		width:155px;
		float:left;
	}
	.tfbutton {
		margin: 0;
		margin-right:5px;
		padding: 3px 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		float:right;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	
	
	.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        padding:0;
        border: 5px solid #0ca3d2;
        background-color: white;
        z-index:1002;
        overflow: auto;
		border-radius:10px;
		width:700px;
		padding-bottom:20px;
    }
	
	.white_content .table1 table{
		margin:0 auto;
		padding-bottom:10px;
	}
	
	.white_content img{
		float:right;
	}

.textinput {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}

.select01 input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.usertext input[readonly=readonly] {
     /*   width: 265px;
        border-radius:5px;
		background:rgb(223, 218, 218);
		font-family:tahoma; */
    }


#officeList input[type=checkbox] {
    border: 1px solid #c0c0c0;
    padding: 0;
    font-size: 16px;
    line-height: 1em;
    width: 13px;
    height: 1.25em;
    background: #fff;
    display: inline-block;
}
    
input[type=checkbox],
input[type=radio] {
        border: 1px solid #c0c0c0;
        /*margin: 0 0.1em 0 0;*/
        padding: 0;
        /*font-size: 10px;*/
        font-size:11px;
        line-height: 1em;
        width: 1.25em;
        height: 1.25em;
        background: #fff;
        display: inline-block;

}

	.textinput input[type=text] {
    width: 600px;
	border-radius:5px;
	}

    .textinput1 input[type=text] {
    width: 600px;
	border-radius:5px;
	}

    .usertext input[type=text] {
        width: 600px;
        border-radius:5px;
    }
	
	.usertext textarea[type=text] {
        width: 600px;
        border-radius:5px;
    }

    .usertext1 input[type=text] {
        /*width: 514px;*/
        border-radius:5px;
        float:left;
        margin-right: 5px;
    }
	
	.usertext2 input[type=text] {
        width: 180px;
        border-radius:5px;
    }
	
	.usertext2 input[type=button] {
        width: 80px;
		background-color:#E3E1FF;
    }


.usertext input[type=password] {
    width: 600px;
    border-radius:5px;
}

    .textinput1 input[type=password] {
    width: 265px;
	border-radius:5px;
	}
	
	input[type=button] {
	border-radius:5px;
	}
	


	input[type=file] {
	border-radius:5px;
	}
	
.bootstrap-select > .btn {
	width:600px;
}

#RemoveWidth select, option {
	width:310px;
	border-radius:5px;
}

#FTremoveWidth select, option {
	width:514px;
	border-radius:5px;
}

/*select, option { 
	width:310px;
	border-radius:5px;
}*/

select[multiple], select[size] {
	height:130px;
}

.select01 select, option {
        width:600px;
        border-radius:5px;

}

.select1 select, option { 
        width:475px;
        border-radius:5px;
        float:left;
        margin-right: 8px;

}

.select1 .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  width:516px;
}

.select1 input[type=button] {
    width: 80px;
}

.select1 input[value]{
    font-weight: bolder;
}

.selectFLOW select, option { 
        width:475px;
        border-radius:5px;
        float:left;
        margin-right: 8px;

}

.selectFLOW .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  width:516px;
}

.selectFLOW input[type=button]{
    width: 80px;
    font-weight: bolder;
}

.select2 select, option { 
        width:475px;
        border-radius:5px;
        float:left;
        margin-right: 8px;

}

.select2 .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  width:516px;
}

.select2 button {
/*    padding: 6px 27px;*/
width:80px;
height: 34px;
}

.select02 select, option { width:365px;
					border-radius:5px; }

select#officeRollback {
    width: 200px;
    border-radius: 5px;
    padding: 7px;
    margin:0 10px 0 10px;


}

.lettertable table {
    margin:0 auto;
    width:662px;
}

.tableFILE table {
    margin-left: 316px;
}

.table1 {
	margin:0 auto;
}

.table1 table{
    margin:10px auto;
    padding:20px 0 0 0;
	}
        
.table1 table td {
    padding:5px 0 5px 10px;
    font-family:tahoma;
    font-size:11px;
}

.table1 .LETTERinput {
    width: 662px;
    margin:auto;
}

.table1 .LETTERinput button {
    float:right;
}

.table1 .input {
	margin:5px auto;
	width:660px;
}

.table1 .input input {
	float:right;
	margin-left:5px;
}

.table1 .input button {
	float:right;
	margin-left:5px;
}

.input button {
	float:right;
	margin-left:5px;
}


.table1 .input input[type=button] {
    width: 80px;
}

.table1 .input input[type=button]:hover {
	background-color:#1fadd9;
	color:#fff;
}

.table1 .input input[type=submit] {
    width: 80px;
	border-radius:5px;
}

.table1 .input input[type=submit]:hover {
	background-color:#1fadd9;
	color:#fff;
}

.table1 .input1 button{
	float:right;
	margin-left:5px;
        width: 80px;
}

.table1 .input1 {
	margin:0 auto;
	/*width:675px;*/

}

.input1 {
	text-align:right;
}

.table1 .input1 input{
	float:right;
	margin-left:5px;
}


.table1 .input1 input[type=button] {
    width: 80px;
}

/*.table1 .input1 input[type=button]:hover {
	background-color:#1fadd9;
	color:#fff;
}*/


.table1 .input1 input[type=submit], input[type=button] {
    width: 80px;
	border-radius:5px;
}

.input1 input[type=submit] {
    width: 80px;
	border-radius:5px;
}

/*.table1 .input1 input[type=submit]:hover {
    background-color:#1fadd9;
	color:#fff;
}*/

.table1 .input2 {
	margin:0 auto;
	width:695px;

}

.table1 .input2 input {
	float:right;
}

.table1 .input2 input[type=submit] {
   /* width: 80px;
	border-radius:5px;
	background-color:#E3E1FF; */
}

/*.table1 .input2 input[type=submit]:hover {
    background-color:#1fadd9;
	color:#fff; 
}*/

.table1 #fileAttachment a {
    color:#2587C1;
    font-weight: bold;
}

.image a:hover {
	text-decoration:none;
}

.imagestext{
    width:136px;
    height:137px;
    position:relative;
	margin:20px 0 0 40px;
	float:left;
}

.imagestext img {
	border-radius:10px;
}

.imagestext img:hover {
	box-shadow:0 0 25px black;
}

.lower{
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    padding:10px 0;
	text-align:center;
    background:rgba(0,0,0,.5);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.lower a{
	text-decoration:none;
	color:#fff;
	font:13px trebuchet ms;
}

.lower a:hover{
	text-decoration:none;
	color:#ccc;
}





td {
    padding:5px 0 5px 8px;
    font-family:tahoma;
    font-size:10px;

    }

th {
  padding: 4px 0 4px 3px;
}
    
    td#attachment a {
        color: #2587C1;
        font-weight:bolder;
    }
    
    .admin a {
        color: #DADADA;
    }    



ul #responds01{
	margin:0px;
	padding: 0px;
	list-style: none;
}
#responds01 li {
	list-style: none;
	padding: 10px;
	background: rgb(221, 240, 255);
	margin-bottom: 5px;
	border-radius: 5px;
	max-width: 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
    margin:5px auto;
}
#responds01 li.sel {
	background: rgb(255, 221, 221);
}

.del_wrapper{float:right;}
.content_wrapper {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

.letterselected {
    margin: 0 auto;
    width: 662px;
    padding-left: 60px;
}

.letterselected select,option {
    width: 516px;
    float: left;
}

.letterselected button#deleteselected {
	margin:0 0 0 5px;
        width:80px;
        height: 34px;
}

.officeselected {
    margin:0 0 0 350px;
}
.officeselected select,option {
    width: 516px;
    float: left;
}

.officeselected input#deleteselected {
	margin:0 0 0 5px;
        width: 80px;
}

.officeselected input[value]{
    font-weight: bolder;
}


.officeselectedFLOW {
    margin:0 0 0 172px;
}
.officeselectedFLOW select,option {
    width: 516px;
    float: left;
}

.officeselectedFLOW input#deleteselected {
	margin:0 0 0 5px;
        width: 80px;
}

.officeselectedFLOW input[value]{
    font-weight: bolder;
}

#retrievetable {
	
}

table#historydata tr.usercolor {
    background-color:#CECECE;
	color:#2E2E2E;
    width:80px;
    font-family: Tahoma;
    font-size: 10px;
}

table#historydata tr.usercolor a {
    color:#2587C1;
    text-decoration: underline;
    font-weight: bolder;
}

table#historydata tr.usercolor a:hover {
    color:#2e6da4;
    text-decoration: underline;
}

table#historydata {
	border-spacing:1px;
       
}



table#historydata tr.usercolor:hover {
    background-color:#CECECE;
	color: #2E2E2E;
    width:80px;
	opacity:0.8;
}

table#historydata tr.usercolor1 {
    background-color:#E6E6E6;
	color:#2E2E2E;
    width:80px;
    font-family: Tahoma;
    font-size: 10px;
}

table#historydata tr.usercolor1:hover {
    background-color:#E6E6E6;
    width:80px;
    color:#2E2E2E;
	opacity:0.6;

}

table#historydata tr.usercolor1 a {
    color:#2587C1;
    text-decoration: underline;
    font-weight: bolder;
}

table#historydata tr.usercolor1 a:hover {
    color:#2e6da4;
    text-decoration: underline;
}

table#historydata td {
	padding:5px 0 5px 5px;
	font-family:tahoma;
	font-size:10px;
	/*width:5px;*/
}

table#historydata td a {
	color:#000;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size:10px;
}

table#HOMEdata td {
  padding: 5px 0 5px 5px;
}

table#HOMEdata tr.bgcolor1 {
  background-color:#E7E6E6;
  cursor: pointer;
}

table#HOMEdata tr.bgcolor1:hover {
  background-color:#dcdcdc;
}

table#HOMEdata tr.bgcolor2 {
  background-color:#F7F7F7;
  cursor: pointer;
}

table#HOMEdata tr.bgcolor2:hover {
  background-color:#fff;
}

table#historydata tr.bgcolor {
    background-color: #5B5C5C;
    width:80px;
    font-family: Tahoma;
    font-size: 10px;
    color:#ccc;
}

#details {
	font-size:11px;
}

hr.hrMargin {
	margin-top:0;
	margin-bottom: 0;
	border-top: 1px solid #eee;
}

#details table {
	margin:10px auto;
        width: 100%;
}

#details button {
    border-radius: 5px;
    width: 80px;
    background-color: #E3E1FF;
}



/*----------------------------------------*/


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.fixinput {
    float:left;
}

.tclear {
    clear:both;
}

.buttonright {
    float:right;
}


#leftmenu {
  background: #fff;
  position: fixed;
  left: 0;
  color:#333;
  z-index:1000;
}


#rightmenu {
  background: #fff;
  position: fixed;
  right: 0;
  color:#333;
  z-index:1000;
}


.social {
  position: fixed;
  top:130px;
  width: 100px;
}

.social ul a {
    color:#0581A8;
}

.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  /*background: rgba(0, 0, 0, 0.36);*/
  background: #cbcbcb;
  box-shadow: 2px 2px 4px #888;
  width: 320px;
  text-align: right;
  padding: 8px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
  width:290px;
}
.social ul li:hover a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}
.social ul li:hover i {
  color: #000;
  background: #cbcbcb;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  padding: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #2392B4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.social ul li i img {
  margin-top:-4px;
}

.social li.quickNavMargin {
      margin-top:30px;
  }
  
  /* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  width: 60px;
  position:fixed;
  left:0;
  top:170px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #475D64;
  border-radius:5px;
}
#cssmenu > ul > li {
  border-left: 3px solid #475D64;
}
#cssmenu > ul > li > a {
  padding: 11px 6px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #2392B4;
}
#cssmenu ul li:hover > a {
  color:#fff;
}
#cssmenu ul ul li:hover > a {
  color:#fff;
}

#cssmenu > ul > li.topraduis:hover {
  background: #2392B4;
  border-top-right-radius:5px;
}

#cssmenu > ul > li.bottomraduis:hover {
  background: #2392B4;
  border-bottom-right-radius:5px;
} 
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 160px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #49A2BD;
}
#cssmenu ul li.bottomline a {
border-bottom:1.5px solid #49A2BD;
}
#cssmenu ul ul li {
  padding: 0 15px;
  background: #2392B4;
}

#cssmenu ul ul li:hover {
  padding: 0 15px;
  background: #1a7490;
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 5px;
}
#cssmenu ul ul li:first-child {
  padding-top: 5px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #2392B4;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

#cssmenu ul ul li:first-child:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #1a7490;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
 /* End CSS for Flyout Menu */

.alignRIGHT {
  float: left;
  /*width: 15%;*/
}


.down-bgcolor {
  background-color: #fff;
  z-index:1002;
}

.down-bgcolor > li > a {
  color: #000;
}

.down-bgcolor .linebgcolor {
  background-color:#3A3A3A;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #eee;
  color:#3a3a3a;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color:#eee;
  border-color: #3a3a3a;
  color:#3a3a3a;
}

.btn-size {
  height: 34px;
}

.textDetail {
  float: left;
  width:16%;
}

.textDetail p {
  margin: 0;
  padding:0;
}

.well strong{
  float:left;
  padding-right:10px;
  font-size: 12px;
  font-weight:bold;
}

.wellbottom {
  margin-bottom: 10px;
  width:84%;
  float:right;
}

.well p {
  margin:0;
  padding:0;
  padding-left:55px;
}

.col-bottom {
  padding-bottom: 7px;
  padding-top:7px;
}

#loadingDOC img {
    width:24px;
    height:24px;
}


#loading img {
    width:30px;
    height:30px;
}

#loading {
    margin-left: auto;
    margin-right: auto;
    width: 1%;
    margin-top:150px;
}

#loadingModal {
    margin-left: auto;
    margin-right: auto;
    width: 1%;
}

#loadingModal img {
    width:30px;
    height: 30px;
}

#myModalsBody tr td{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.42857143;
  color: #333;
}

#myModalsBody input[readonly] {
  font-size:11px;
}

#myModalsBody p {
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    font-weight:normal;
}

#myModalsBody p.text {
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 1.42857143;
    color: #333;
    font-weight:normal;
}

#myModalsBody textarea {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  height:150px;
}

#testLeft {
  float:left;
  width:50%;
}

#testRight {
  float:right;
  width:50%;
}

 ul.tabs{
    width:100%;
    display: table;
    white-space: nowrap;
  }

  ul.tabs li{
    float:left;
    white-space:nowrap;
    display:inline-block;
    font-weight: bold;
    padding:4px 8px;
    text-align:center;
    font-size:10px;
    margin-right:4px;
    border:1px;
  }

  ul.tabs li.ltab{
    white-space:nowrap;
  }  
  
  
  /*input[type="button"],[type="submit"]{
      width: 80px;
      
  } */
  
  .btn-primary submit{
      width: 80px;
  }
  
  /*.btn-primary {
      width: 80px;
  }*/
  
  button.btn-primary {
      width:80px;
  }
  
  button.btn-danger {
      width:80px;
  }
  
  
  #tdCenter
  {
    text-align: center;
    vertical-align: middle;
  }
  
  
  .form-inline .SendSize {
  	width:311px;
  }
  
  .btn-group > .btn:first-child {
  	width:100%;
  }
  
  
  .FlowTemWidth {
  	width:514px;
  	margin-left:12px;
  }