.height
	{
	height:130px;
	background-color:#ffffff;
	}
	
.Log
	{
	margin: 0 auto;
	width:750px;
	height:375px;
	background-image:url('lueasp_log.jpg');
	border:0px
    }
	
.ok
{
	margin: 0 auto;
	width:.105px;
	height:38px;
	background-image:url('ok.jpg');
	border:0px
}

	
